.main{
    font-family: Tahoma, sans-serif;
    background-color: #abc7e4;
}

.main.title{
    text-align: center;
    font-family: Verdana, sans-serif;
    width: auto;
    margin: 0 auto;
}

/*.options{
    list-style: square;
    padding-left: 45%; 
    text-align: justify;
}*/

.options{
    display: flex;
    list-style: square;
    width: auto;
    margin: 0 auto;
}

.pickme{
    width: 349px;
    margin: 0 auto;
}

.doggo{ /* used for images, named in honor of my doggo on index */
    display: block;
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}